<% provide(:title, "Help") %>
	<h1>Help</h1>
		<p>
			Get help from Jay at
			<a href="http://github.com/jaythaceo"></a>
			to get help on this sample app
			<a href="http://twitter.com">Twitter</a>
		</p>
